.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8fafc;
  text-align: center;
}

.landing-card {
  background: #ffffff;
  padding: 2rem 3rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  z-index: 4;
}

.title-heading {
  font-family: 'Georgia', serif;
}

.landing-background {
  position: absolute;
  width: 95vw;
  height: 65vh;
  background: #c88b31;
  top: 10%;
  left: -5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.landing-page h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #574731;
}

.subheading {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #6a5d4d;
}

.landing-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.landing-page i {
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
  color: #574731;
}

.info-card {
  background: transparent;
  display: flex;
  justify-content: right;
  align-items: right;
}

.info-button {
  margin-top: -1rem;
  margin-right: -2rem;
}

.info-button button {
  background: transparent;
  border: 0rem; 
  margin: 0rem;
  padding: 0rem;
}

.info-button button:hover {
  transform: scale(1.2);
  transition: ease-in-out .2s;
  cursor: pointer;
}

.lang-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.lang-section {
  margin-top: -1.7rem;
}

.lang-buttons button {
  background-color: #c88b31;
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.lang-buttons button:hover {
  background-color: #fdfde7;
  transform: scale(1.05);
}

.lang-buttons button:active {
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .landing-card {
    margin-top: -1rem;
  }

  .landing-page h1 {
    font-size: 1.5rem;
    height: auto;
  }

  .lang-buttons {
    flex-direction: column;
  }

  .landing-page button {
    width: 100%;
  }

  .landing-background {
    height: 40vh;
    top: 20%;
  }

}

@media (max-width: 720px) {
  .info-button {
    margin-top: 1rem !important;
    margin-right: 1rem;
  }
}
