/* copper: #c88b31 */

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slideshow-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-background {
  position: absolute;
  width: 150vw;
  height: 50vh;
  background: #c88b31;
  top: 10%;
  left: 15%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media (max-width: 768px) {
  .map-background {
      left: 5%;
  }
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #EAEAEA;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 2;
}

.slideshow-image.visible {
  opacity: 1;
  z-index: 3;
}

.slideshow-image svg {
  max-height: 90vh;
  max-width: 90vw;
  height: auto;
  width: auto;
}


.caption-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  color: black;
  font-size: 5rem;
  font-family: 'Georgia', serif;
}

@media (max-width: 768px) {
  .caption-banner {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  
  .caption-banner h2 {
    font-size: 1.5rem;
  }

  .banner-swipe {
    font-size: 0.9rem;
  }
}

.caption-banner h2 {
  margin: 0;
  font-size: 1.8rem;
}

.banner-swipe {
  text-align: right;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 4;
}

.icon-button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  margin: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease;
}

.icon-button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.icon-button svg {
  color: #000;
}

/* Region Effects */

#DeathHouse:hover,
#CellBlock:hover {
  fill: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

/* Style all paths with an id */
svg path[id] {
  fill: #c88b31 !important;
  fill-opacity: 0.2 !important;
  stroke: #c88b31 ;
  stroke-width: 3;
  fill: transparent;
  transition: fill 0.2s ease-in-out;
  cursor: pointer;
}

/* On hover, apply glow effect */
svg path[id]:hover {
  fill: #c88b31 !important;
  fill-opacity: 0.5 !important;
}
